{% extends "layouts/master.html" %} 
{% load static %} 

{% block title %} 
View Attendance
{% endblock title %} 

{% block style_css %} 

{% endblock style_css %} 

{%block content %}

{% if action is None %}


<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <form action="?action=show_attendance" method= "post" enctype='multipart/form-data'>
            {% csrf_token %}
              <div class="col-12">
                  <!-- messeage section -->
                  {% include "partials/_message.html" %}
                <h5 class="form-title"><span>View Attendance</span></h5>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group" >
                   <label>Select Subject</label>
                   <select class="form-control" name="subject_id" required >
                      <option>Select Subject</option>
                      {% for i in subjects %}
                      <option value= "{{i.id}}">{{i.name}}</option>
                      {% endfor %}
                   </select>
                </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Show Attendance</button>
                    </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% else %}

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <form enctype='multipart/form-data'>
            {% csrf_token %}
              <div class="col-12">
                  <!-- messeage section -->
                  {% include "partials/_message.html" %}
                <h5 class="form-title"><span>View Attendance</span></h5>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group" >
                   <label>Select Subject</label>
                   <select class="form-control" name="subject_id" disabled >
                      
                      <option value= "{{i.id}}">{{get_subject}}</option>
                      
                   </select>
                </div>
                    <div class="col-12">
                       
                        <div class="row">
                            {% comment %} {% include "partials/_message.html" %} {% endcomment %}
                             <div class="col-sm-12">
                                <div class="card card-table">
                                   <div class="card-body">
                                      <div class="table-responsive">
                                         <table class="table table-hover table-center mb-0 " id="table_id">
                                            <thead>
                                               <tr>
                                                  <th>ID</th>
                                                  <th>Date</th>
                                                  <th>Subject Name</th>
                                                  <th>Session Year</th>
                                                 
                                               </tr>
                                            </thead>
                                            <tbody>
                                              {% for i in attendance_report %}
                                               <tr>
                                                  <td>{{ forloop.counter }}</td>
                                                  
                                                  <td>{{i.attendance_id.attendance_date}}</td>
                                                  <td>{{i.attendance_id.subject_id.name}}</td>
                                                  <td>{{i.attendance_id.session_year_id.session_start}} To {{i.attendance_id.session_year_id.session_end}}</td>
                                                 
                                               </tr>
                                               {% endfor %}
                                            </tbody>
                                         </table>
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </div>

                    </div>
          </form>
        </div>
      </div>
    </div>
  </div>

    {% endif %}
  
</div>
{% endblock %}