{% extends "layouts/master.html" %}
{% load static %}

{% block title %}
    Login
{% endblock title %}

{% block style_css %}

{% endblock style_css %}

{% block content %}

      <div class="main-wrapper login-body">


         <div class="login-wrapper">
            <div class="container">
               <div class="loginbox">
                  <div class="login-left">
                     <img class="img-fluid" src="{% static 'assets/img/logo-white.png' %}" alt="Logo">
                  </div>
                  <div class="login-right">
                     <div class="login-right-wrap">
                        <h1>Login</h1>
                        <p class="account-subtitle">Access to our dashboard</p>
                        
                        
                        <!-- messeage section -->
                           {% include "partials/_message.html" %}

                           
                        <form action="{% url 'dologin' %}" method= "post">
                          {% csrf_token %}
                           <div class="form-group">
                              <input class="form-control" type="email" placeholder="Email" name="email" required>
                           </div>
                           <div class="form-group">
                              <input class="form-control" type="password" placeholder="Password" name="password" required>
                           </div>
                           <div class="form-group">
                              <button class="btn btn-primary btn-block" type="submit">Login</button>
                           </div>
                        </form>
                        <div class="text-center forgotpass"><a href="forgot-password.html">Forgot Password?</a></div>
                        <div class="login-or">
                           <span class="or-line"></span>
                           <span class="span-or">or</span>
                        </div>
                        <div class="social-login">
                           <span>Login with</span>
                           <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a><a href="#" class="google"><i class="fab fa-google"></i></a>
                        </div>
                        <div class="text-center dont-have">Don’t have an account? <a href="register.html">Register</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock  %}