{% extends "layouts/master.html" %} 
{% load static %} 

{% block title %} 
Edit Staff
{% endblock title %} 

{% block style_css %} 

{% endblock style_css %} 

{%block content %}

<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <form action="{% url 'update-staff' %}" method= "post" enctype='multipart/form-data'>
            {% csrf_token %}
            
              <div class="col-12">
                  <!-- messeage section -->
                  {% include "partials/_message.html" %}
                <h5 class="form-title"><span>Edit Staff</span></h5>
              </div>
  
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" name="first_name"   value="{{staff.admin.first_name}}" />
                  <input type="text" class="form-control" name="staff_id"   value="{{staff.admin.id}}" hidden/>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control" name="last_name"   value="{{staff.admin.last_name}}"/>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control"  name="email"  value="{{staff.admin.email}}" readonly/>
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control"  name="username" required  value="{{staff.admin.username}}" readonly />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" name= "password" placeholder= "fill only if you want to change the password." />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control" name= "address" value="{{staff.address}}"  />
                </div>
              </div>

              <div class="col-12 col-sm-6">
                <div class="form-group">
                   <label>Gender</label>
                   <select class="form-control" name="gender" required >
                      <option>Select Gender</option>
                      <option>Female</option>
                      <option>Male</option>
                      <option>Others</option>
                   </select>
                </div>
             </div>

              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Profile Pic</label>
                  <input type="file" class="form-control" name="profile_pic"  />
                </div>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Update Staff</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  

{% endblock %}