{% extends "layouts/master.html" %} 
{% load static %} 

{% block title %} 
Edit cource
{% endblock title %} 

{% block style_css %} 

{% endblock style_css %} 

{%block content %}

<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <form action="{% url 'update-cource' %}" method= "post" enctype='multipart/form-data'>
            {% csrf_token %}
            
              <div class="col-12">
                  <!-- messeage section -->
                  {% include "partials/_message.html" %}
                <h5 class="form-title"><span>Edit Cource</span></h5>
              </div>
  
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Cource Name</label>
                  <input type="text" class="form-control" name="cource_name" value="{{cource.name}}" required  />
                  <input type="text" class="form-control" name="cource_id" value="{{cource.id}}" required  hidden />
                </div>
              </div>
 

              <div class="col-12">
                <button type="submit" class="btn btn-primary">Update Cource</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  

{% endblock %}